{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Espace professionel - Modification du mot de passe utilisateur
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row mt-4">
			<div class="container">
				{% include "partials/_adminNav.html.twig" %}
				<main class=" col-9">
					<h1>Modification du mot de passe</h1>
					<div>
						{% if app.user %}
							<p>
								<i class="fa-solid fa-user"></i>
								Compte connecté:
								{{ app.user.userIdentifier }}
								/
								<i class="fa-solid fa-right-from-bracket">
									<a class="" href="{{ path('app_logout') }}"></i>
									Se déconnecter</a>
							</p>
						{% endif %}
					</div>

					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}

					{{ form_start(passwordForm) }}
					{{ form_row(passwordForm.password) }}
					{{ form_end(passwordForm) }}

				</div>
			</div>
		</section>
	{% endblock %}
