<div class="row ">
	<ul class="nav nav-tabs justify-content-around">
		{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des utilisateur</a>

				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{path('admin_user_index')}}">Afficher la liste des utilisateurs</a>
					<a class="dropdown-item" href="{{path('admin_user_create')}}">Créer un nouvel utilisateur</a>
				</div>

			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des prestations</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{path('admin_prestation_index')}}">Afficher la liste des prestations</a>
					<a class="dropdown-item" href="{{path('admin_prestation_create')}}">Ajouter une nouvelle prestation</a>
				</div>
			</li>
		{% endif %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des annonces</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{{path('car_index')}}">Afficher la liste des annonces</a>
				<a class="dropdown-item" href="{{path('admin_car_create')}}">Créer une nouvelle annonce</a>
				<a class="dropdown-item" href="{{path('admin_brand_index')}}">Afficher la liste des marque</a>
				<a class="dropdown-item" href="{{path('admin_model_create')}}">Créer un nouveau modèle</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des horaires d'ouverture</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="admin_hours_create">Afficher la liste des horaires</a>
				<a class="dropdown-item" href="#">Afficher la liste des horaires</a>

			</div>
		</li>

	</ul>
</div>
