<div class="card col-md-4 col-sm-8">
	<img src="{{ asset('assets/images/home-bg.jpg') }}" class="card-img-top" alt="..."/>
	<div class="card-body">

		<h5 class="card__title">
			{{car.model.brand.name}}
			-
			{{car.model.name}}</h5>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Carburant:
				{{car.energy.name}}
				- 																																																																																											Boite de vitesse:
				{{car.gearbox.name}}</li>
			<li class="list-group-item">Kilométrage:
				{{car.mileage}}
				km</li>
			<li class="list-group-item .card__price">{{ car.price | number_format(0, ',', ' ') }}€</li>
			<li>
				<a href="{{path('car_show', {'id': car.id})}}" class="btn btn-primary btn-sm">détails</a>
			</li>
			<li>
				<a href="{{path('car_edit', {'id': car.id})}}" class="btn btn-primary btn-sm">Modifier</a>
				<a href="{{path('car_delete', {'id': car.id})}}" class=" btn btn-primary btn-sm">Supprimer</a>
			</li>
		</ul>
	</div>
</div>
