{# <div class="col-md-4">
	<p>Boite de vitesse:</p>
	<form class="form-check " id="gearbox-filters">
		{% for gearbox in gearboxes %}
			<p><input class="form-input" type="checkbox" name="gearboxes[]" id="gear{{gearbox.id}}" value="{{gearbox.id}}">
				<label class="form-label" for="gear{{gearbox.id}}">{{gearbox.name}}</label>
			</p>
		{% endfor %}
	</form>
</div> #}
{# <div class="col-md-4">
	<p>Carburant:</p>
	<form class="form-check " id="energy-filters">
		{% for energy in energys %}
			<p><input class="form-input" type="checkbox" name="energys[]" id="en{{energy.id}}" value="{{energy.id}}">
				<label class="form-label" for="en{{energy.id}}">{{energy.name}}</label>
			</p>
		{% endfor %}
	</form>
</div> #}
{# 
<div class="col-md-4">
	<p>Par marque</p>
	<select class="form-select" aria-label="Default select example">
		{% for brand in model.brand %}
			<option selected>Selectionnez la marque</option>
			<option name="models[]" id="en{{model.brand.id}}" value="{{model.brand.id}}">One</option>
			<option value="2">Two</option>
			<option value="3">Three</option>
		{% endfor %}
	</select>
</div> #}

{# <div class="col-md-4">
	<p>Boite de vitesse:</p>
	<form class="form-check form-switch" id="filters">

		{% for energy in energys %}
			<p><input class="form-check-input" type="checkbox" name="energys[]" id="en{{energy.id}}" value="{{energy.id}}">
				<label class="form-check-label" for="en{{energy.id}}">{{energy.name}}</label>
			</p>
		{% endfor %}
	</form>
</div> #}

<div class="col-md-4">
	<select class="form-select" aria-label="Default select example" id="car-energys">
		<option selected>Par carburants</option>

		<option value="">One</option>
		
	</select>
</div>
<div class="col-md-4">
	<select class="form-select" aria-label="Default select example" id="car-energys">
		<option selected>Par année</option>

		<option value="">One</option>
		
	</select>
</div>
<div class="col-md-4">
	<label for="customRange2" class="form-label">Par prix</label>
<input type="range" class="form-range" min="0" max="5" id="customRange2">
</div>
