{% for car in cars %}

	<div class="col-md-4 mt-4">
		<div class="card rounded ">
			<div class="card-image">
				<span class="card-notify-badge">{{car.energy.name}}</span>
				<span class="card-notify-year">{{car.years}}</span>

				<img class="img-fluid" src="{{ asset ('assets/uploads/car/' ~ car.images[1].name )}}" alt="Alternate Text"/>
			</div>
			<div class="card-image-overlay m-auto">
				<span class="card-detail-badge">{{car.gearbox.name}}
				</span>
				<span class="card-detail-badge">{{ car.price | number_format(0, ',', ' ') }}€</span>
				<span class="card-detail-badge">{{car.mileage}}
					km</span>
			</div>
			<div class="card-body text-center">
				<div class="ad-title m-auto">
					<h5>{{car.model.brand.name}}
						-
						{{car.model.name}}</h5>
				</div>
				<a class="ad-btn" href="{{path('car_show', {'id': car.id})}}">Plus de détails</a>
			</div>
		</div>
	</div>
{% endfor %}
