{{ form_start(formCar, {attr: {'novalidate' : 'novalidate'}}) }}
{% for model in formCar.model %}
	{{form_row(model.brand)}}
	{{form_row(model.name)}}
{% endfor %}
{{form_row(formCar.energy)}}
{# {{form_row(formCar.gearbox)}} #}
{{form_row(formCar.years)}}
{{form_row(formCar.options)}}
{{form_row(formCar.mileage)}}
{{form_row(formCar.price)}}

<button class="btn btn-success mb-1" type="submit">Valider</button>
{{ form_end(formCar) }}
