{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Nos véhicules d'occasions
{% endblock %}

{% block content %}

	<section class="details">
		<h1 class="details__title">Fiche détaillée</h1>
		<div class="container">
			<h2>{{car.model.brand.name}}
				-
				{{car.model.name}}</h2>

			<p>Equipement et options:
				{{car.options}}</p>
			<p>Energie:
				{{car.energy.name}}
				- Transmission:
				{{car.gearbox}}</p>
			<p>Année:
				{{car.years}}</p>
			<p class="card__mileage">Kilométrage:
				{{car.mileage}}km</p>
			<p class="card__price">Prix:
				{{ car.price | number_format(0, ',', ' ') }}€</p>
		</div>
	</section>

{% endblock %}
