{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Nos véhicules d'occasions
{% endblock %}

{% block content %}

	<!--Section: Annonces -->
	<section class="container annonces" id="{{path('car_index')}}">
		<h1 class="mt-4 py-2 annonces__title text-center">Nos véhicules d'occasions</h1>
		<form class="form-check mt-4" id="filters">
			<h4>Filtrer les annonces</h4>
			<div class="row">

				<div class="col-md-3">
					<h6>Par transmission :</h6>
					<select class="form-select">
						<option selected>Selectionnez la boite de vitesse</option>
						{% for gearbox in gearboxes %}
							<option name="gearboxId" id=" car-by-gearbox">{{gearbox.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="col-md-3">
					<h6>Par carburant :</h6>
					<select class="form-select">
						<option selected>Selectionnez par energie</option>
						{% for energy in energys %}
							<option value={{energy.id}} name="energyId" id=" car-by-energy">{{energy.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>
		</form>

		<div class="row annonces__cards mt-4">
			{% include "car/_carCard.html.twig" %}
		</div>

	</section>
	<!-- End Section: Annonces -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}
