{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Nos véhicules d'occasions
{% endblock %}

{% block content %}

	<!--Section: Annonces -->
	<section class="container annonces">

		<h1 class="prestations__title">Nos véhicules d'occasions</h1>
		<p class="mb-5 text-center">
			Une large gamme de véhicules.
		</p>
		<hr class="w-25 mx-auto mb-5 mb-xl-9 border-dark-subtle">
		<div class="row g-0 justify-content-md-center">
			<div class="col-md-4">
				<h5>Boite de vitesse</h5>
				<div class="dropdown show">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Selectionnez une boite de vitesse
					</a>

					<div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
						{% for gearbox in gearboxes %}
							<a class="dropdown-item" href="{{path('car_gearbox', {'id': gearbox.id} )}}" id="js-filter">{{gearbox.name}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<h5>Energie</h5>
				<div class="dropdown show">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Selectionnez l'energie
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						{% for energy in energys %}
							<a class="dropdown-item" href="{{path('car_energy', {'id': energy.id} )}}" id="js-filter">{{energy.name}}</a>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<h5>Marque</h5>
				<div class="dropdown show">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Selectionnez la marque
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						{% for car in cars %}
							<a class="dropdown-item" href="{{path('car_model', {'id': car.model.id} )}}" id="js-filter">{{car.model.brand.name}}</a>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<h5>Revenir à la liste</h5>
				<a href="{{ path('car_all') }}" class=" dropdown-item">Réinitialiser</a>
			</div>

		</div>


		<div class="row annonces__cards mt-4" id="js-car-content">
			{% include "car/_carCard.html.twig" %}
		</div>

	</section>
	<!-- End Section: Annonces -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}
