{% extends 'base.html.twig' %}

{% block title %}Administration - Liste des marques
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Liste des marques</h1>


		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for brand in brands %}
					<tr>

						<th scope="row">{{brand.id}}</th>
						<td>{{brand.name}}</td>
						<td>
							{# <a href="{{path('show', {'id': brand.id})}}" class="btn btn-primary btn-sm">détails</a> #}
							<a href="{{path('brand_edit', {'id': brand.id})}}" class="btn btn-primary btn-sm">Modifier</a>
							<a href="{{path('brand_delete', {'id': brand.id})}}" class=" btn btn-primary btn-sm">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{path('brand_create')}}" class="btn btn-primary">Ajouter une marque</a>
	</div>
{% endblock %}
