{% extends 'base.html.twig' %}

{% block title %}Administration - Liste des modèles
{% endblock %}
{% block content %}
	<div class="container">
		<h1>Liste des modèles</h1>


		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Marque</th>
					<th scope="col">Modèle</th>
					<th scope="col"></th>

				</tr>
			</thead>
			<tbody>
				{% for model in models %}
					<tr>
						<th scope="row">{{model.id}}</th>
						<td>{{model.brand.name}}</td>
						<td>{{model.name}}</td>
						<td>

							<a href="{{path('model_edit', {'id': model.id})}}" class="btn btn-primary btn-sm">Modifier</a>
							<a href="{{path('model_delete', {'id': model.id})}}" class=" btn btn-primary btn-sm">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{path('model_create')}}" class="btn btn-primary">Ajouter un modèle</a>
	</div>
{% endblock %}
